/* Basic reset */
* {
	margin: 0;
	padding: 0;
}

ul, ol {
	list-style-type: none;
}

/* General */
body {
	font: 100%/1.5em Ubuntu, 'Trebuchet MS', Verdana, Helvetica, sans-serif;
	font-weight: 300;
	padding: 0 10%;
}

header, nav, main, aside, footer {
	border: 1px solid red;
}

header {
}

/* > Navigation */
nav {
}

nav ul {
	background: white;
}

nav ul li {
	display: inline;
	position: relative;
}

nav ul li:hover ul {
	display: block;
	position: absolute;
	top: 1.1em;
	left: 0;
}

nav ul li ul {
	display: none;
	font-size: .9em;
}

nav ul li ul li {
	display: block;
}
/* < Navigation */

main {
}

aside {
}

footer {
}
