/* Basic reset */
* {
	margin: 0;
	padding: 0;
}

ul, ol {
	list-style-type: none;
}

/* General */
body {
	font: 100%/1.5em Ubuntu, 'Trebuchet MS', Verdana, Helvetica, sans-serif;
	font-weight: 300;
	padding: 0 10%;
}

header, nav, main, aside, footer {
	border: 1px solid red;
}

header {
}

nav {
}

main {
}

aside {
}

footer {
}
