/* Basic reset */
* {
	margin: 0;
	padding: 0;
}

ul, ol {
	list-style-type: none;
}

/* General */
body {
	font: 60%/2em Ubuntu, 'Trebuchet MS', Verdana, Helvetica, sans-serif;
	font-weight: 300;
	padding: 0 10%;
	background: #f0f0f0;
}

header, nav, article, aside, footer {
	border: 1px solid red;
	background: white;
}

header {
}

/* > Navigation */
nav {
	margin: 10px 0 0 0;
	text-align: center;
	font-size: 1.7em
}

nav ul {
	background: white;
}

nav ul li {
	display: inline;
	position: relative;
	text-align: left;
	padding-right: 2em;
}

nav ul li:hover ul {
	display: block;
	position: absolute;
	top: 1.4em;
	left: 0;
}

nav ul li ul {
	display: none;
	font-size: .8em;
}

nav ul li ul li {
	display: block;
}
/* < Navigation */

/* > Main */
main {
	float: left;
	width: 75%;
}

/* >> Articles */
article {
	font-size: 2em;
	line-height: 1.4em;
	color: #777777;
	margin: 10px 0;
}

article p {
	margin: 10px 0;
}

article pre {
	font-size: .7em;
	overflow: auto;
	line-height: 1.2em;
}
/* << Articles */
/* < Main */

/* > Aside (sidebar) */
aside {
	float: right;
	width: 24%;
	margin: 10px 0;
}
/* < Aside (sidebar) */

/* > Footer */
footer {
	clear: both;
	font-size: 1.3em;
	text-align: center;
	color: gray;
}
/* < Footer */